
/* background/font/text styling */
body {
    background-color: rgb(128, 123, 123);
    margin: 0;
    color: rgb(252, 248, 248);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* container styling */
.container {
background-color: rgb(7, 5, 3);
padding: 50px;
border-radius: 16px;
border: 2px;
border-color: black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.title {
    margin: 0;
    text-align: center;
}

.character-amount-container {
    display: flex;
    align-items: center
    
}


/* container layout */
.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 15px;
    column-gap: 50px;
    justify-content: center;
    align-items: center;
}     
/* output display */
.display {
    background-color: white;
    color: black;
    padding: 20px;
    border: 2px;
    border-color: black;
    height: 65px;
    width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-all ;
}
.num-input {
    width: 5rem;
}


.button {
    background-color: rgb(221, 75, 75);
    color: white;
}
