
/* background/font/text styling */
body {
    background-color: rgb(128, 123, 123);
    margin: 0;
    color: rgb(252, 248, 248);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* container styling */
.container {
background-color: rgb(7, 5, 3);
padding: 3rem;
border-radius: 1rem;
border: 2px;
border-color: black;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.title {
    margin: 0;
    text-align: center;
}

lable {
    font-weight: ;
}
/* container layout */
.form {
    display: grid;
    grid-template-columns: auto auto;
    row-gap: 1rem;
    column-gap: 3rem;
    justify-content: center;
    align-items: center;
}     
/* output display */
.display {
    background-color: white;
    color: black;
    padding: 1rem;
    border: 1px;
    border-color: black;
    height: 4rem;
    width: 400px;
}
.num-input {
    width: 5rem;
}



